{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{{ site_title }} - {% trans "Sign In" %}{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Sign In" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to connect to the site" %}
                </h2>
            </div>
        </div>
    </section>


    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p class="notification">{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="box">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_bulma }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link primaryAction" type="submit">{% trans "Sign In" %}</button>
                        </div>
                        <div class="control">
                            <button class="button is-text secondaryAction"
                                    onclick="location.href='{% url 'account_reset_password' %}'">{% trans "Forgot Password?" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
{% endblock %}
