{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{{ site_title }} - {% trans "Password Reset" %}{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Password Reset" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to reset your password" %}
                </h2>
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="notification">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="box">
                <form class="login" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_bulma }}
                    <div class="field">
                        <div class="control">
                            <input class="button is-link primaryAction" type="submit"
                                   value="{% trans 'Reset My Password' %}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>


    <p class="notification">{% blocktrans %}Please contact us if you have any trouble resetting your
        password.{% endblocktrans %}</p>
{% endblock %}
