{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
    {{ site_title }} - {% trans "Signup" %}
{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Sign Up" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to create your account" %}
                </h2>
            </div>
        </div>
    </section>

    <p class="notification">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
        .{% endblocktrans %}
    </p>
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="box">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_bulma }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="button is-link primaryAction" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>

{% endblock %}
