/*!
 * Copyright (c) eGen Guru 2019.
 */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Alice&display=swap');

// Set your brand colors
$purple: #673556;
$pink: #b71b35;
$brown: #555748;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Alice", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;


// Update some of Bulma's component variables
$body-background-color: #EFEFEF;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


@import "~bulma/bulma";
@import "~bulma-extensions/src/sass/index";


// Table
// https://bulma.io/documentation/elements/table/
$table-color: $grey-darker;
$table-background-color: $white;
$table-cell-border: 1px solid $grey-lighter;
$table-cell-border-width: 0 0 1px;
$table-cell-padding: 0.5em 0.75em;
$table-cell-heading-color: $text-strong;
$table-head-cell-border-width: 0 0 2px;