{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "Tags Management" %}
{% endblock %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Tags Management" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to manage tags" %}
                </h2>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section">
            <nav class="level" aria-label="form">
                <div class="level-left">
                </div>
                <div class="level-right">
                    <button class="button is-primary is-outlined">{% trans "Create new tag..." %}</button>
                </div>
            </nav>
            <nav class="level" aria-label="form">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                                <label>
                                    <input class="input" type="text" placeholder="Find a tag">
                                </label>
                            </p>
                            <p class="control">
                                <button class="button">
                                    Search
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        {% trans "Order by" %}:&nbsp;
                        <a href="{% url 'muses_admin_tags' %}?order_by=Name&items_per_page={{ items_per_page }}&page={{ page }}">Name</a>|
                        <a href="{% url 'muses_admin_tags' %}?order_by=Enable_at&items_per_page={{ items_per_page }}&page={{ page }}">Enable
                            at</a>|
                        <a href="{% url 'muses_admin_tags' %}?order_by=Creation_date&items_per_page={{ items_per_page }}&page={{ page }}">Creation
                            date</a>
                    </div>
                    <div class="level-item">
                        {% trans "Items per page" %}:&nbsp;
                        <a href="{% url 'muses_admin_tags' %}?order_by={{ order_by }}&items_per_page=10&page={{ page }}">10</a>|
                        <a href="{% url 'muses_admin_tags' %}?order_by={{ order_by }}&items_per_page=20&page={{ page }}">20</a>|
                        <a href="{% url 'muses_admin_tags' %}?order_by={{ order_by }}&items_per_page=30&page={{ page }}">30</a>
                    </div>
                    <div class="level-item">
                        {% trans "Pagination" %}:&nbsp;
                        <a href="#">Start</a>|
                        <a href="#">Previous</a>&nbsp;
                        <form action="">
                            <input type="submit" value="{% trans "Go to page" %}">
                            <label>
                                <input type="text" value="{{ page }}" size="4">
                            </label>
                        </form>&nbsp;
                        <a href="#">Next</a>|
                        <a href="#">End</a>
                    </div>
                </div>
            </nav>

            {% for tag in tags %}
                <div class="box">
                    <tag class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="level-item">
                                <div class="content">
                                    <p>
                                        <a href="#"><strong>#{{ tag.name }}</strong></a>&nbsp;<small>({{ tag.type }})</small>
                                        <br>
                                        {% trans "Enable at" %}: {{ tag.enable_at }}
                                        / {% trans "Disabled at" %}: {{ tag.disable_at }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="left-right">
                            <div class="columns is-mobile">
                                {% if tag.active %}
                                    <div class="column">
                                        <form action="">
                                            <input type="hidden" value="{{ tag.id }}">
                                            <button class="button" type="submit">
                                        <span class="icon">
                                            <em class="fas fa-times-circle"></em>
                                        </span>
                                            </button>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="column">
                                        <form action="">
                                            <input type="hidden" value="{{ tag.id }}">
                                            <button class="button" type="submit">
                                        <span class="icon">
                                            <em class="fas fa-arrow-circle-up"></em>
                                        </span>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="column">
                                    <form action="">
                                        <input type="hidden" value="{{ tag.id }}">
                                        <button class="button" type="submit">
                                        <span class="icon">
                                            <em class="fas fa-edit"></em>
                                        </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column">
                                    <form action="">
                                        <input type="hidden" value="{{ tag.id }}">
                                        <button class="button" type="submit">
                                        <span class="icon">
                                            <em class="fas fa-trash"></em>
                                        </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tag>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}