{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "New tag" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Create new tag" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form action="/new_tag/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button is-primary is-outlined" type="submit" value="{% trans "Add" %}">
            </form>
        </div>
    </section>
{% endblock %}