{% extends "base.html" %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "New section" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Create new section" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
    </section>
{% endblock %}