{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "Members Management" %}
{% endblock %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Members Management" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to manage members" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        {% include "_partials/pagination.html" %}
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>
                        <label class="b-checkbox checkbox">
                            <input type="checkbox" true-value="true" value="false">
                            <span class="check"></span>
                            <span class="control-label"></span>
                        </label>
                    </th>
                    <th>{% trans "Pseudo" %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        {% include "_partials/pagination.html" %}
    </section>

{% endblock %}