{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "Members" %}
{% endblock %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Members" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Discover our members" %}
                </h2>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section">

            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                                <label>
                                    <input class="input" type="text" placeholder="Find a member">
                                </label>
                            </p>
                            <p class="control">
                                <button class="button">
                                    Search
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        Order by:&nbsp;<a href="#">Default</a>
                    </div>
                </div>
            </nav>


            {% for member in members %}

            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ member.first_name }}&nbsp;{{ member.last_name }}</strong>&nbsp;
                                <small>@{{ member.pseudonym }}</small>&nbsp;
                                <small>{{ member.created_at }}</small>
                                <br>
                                {{ member.story }}
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                                </a>
                                <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                                </a>
                                <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}