{% load static %}
{% load i18n %}
<section class="section">
    <nav class="level">
        <div class="level-left">
            <div class="level-item has-text-centered">
                <em>
                    {% trans "Join us on" %}
                </em>
            </div>
            {% if site_url_twitter %}
                <div class="level-item has-text-centered" onclick="window.open('{{ site_url_twitter }}','_blank')"
                     style="cursor:pointer;">
                    <span class="icon">
                    <em class="fab fa-twitter fa-lg"></em>
                    </span>
                </div>
            {% endif %}
            {% if site_url_facebook %}
                <div class="level-item has-text-centered" onclick="window.open('{{ site_url_facebook }}','_blank')"
                     style="cursor:pointer;">
                    <span class="icon">
                    <em class="fab fa-facebook fa-lg"></em>
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="level-item has-text-centered">
        </div>
        <div class="level-item has-text-centered">
        </div>
        <div class="level-item has-text-centered">
            {{ copyright_footer_mention }}&nbsp;-&nbsp;2019
        </div>
        <div class="level-item has-text-centered">
        </div>
        <div class="level-item has-text-centered">
            <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
            <a href="{% url 'muses_administration' %}">{% trans "A" %}</a>
            <a href="{% url 'muses_moderation' %}">{% trans "M" %}</a>
        </div>
        <div class="level-right">

        </div>
    </nav>
</section>