{% load static %}

{% load i18n %}

<nav class="tile is-ancestor has-background-white" id="muse_nav_menu">

    {% for section in sections %}
        <div class="tile is-parent">
            <p class="tile is-child box has-text-centered no-shadow no-border no-padding"
               onclick="location.href='{% url 'muses_list_posts' section=section.short_name %}'"
               style="cursor:pointer;">
                <a class="link is-info is-size-5">{{ section.name }}</a>
            </p>
        </div>
    {% endfor %}


</nav>