{% load i18n %}
<nav class="level">
    <!-- Left side -->
    <div class="level-left" {% comment %}style="border: #4f4f4f solid 1px;padding: 3px;border-radius: 6px"{% endcomment %}>
        {% if user.is_authenticated %}
            <div class="level-item has-text-centered">
                <div class="control" onclick="location.href='{% url 'muses_list_warnings' %}'"
                     style="cursor:pointer;">
                    <div class="tags has-addons">
                    <span class="tag">
                        {% trans "My Warnings" %}
                    </span>
                        <span class="tag is-black">0</span>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="control" onclick="location.href='{% url 'muses_list_alerts' %}'"
                         style="cursor:pointer;">
                        <div class="tags has-addons">
                    <span class="tag">
                        {% trans "My Alerts" %}
                    </span>
                            <span class="tag is-black">0</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="level-item has-text-centered">

    </div>

    <div class="level-right">
        {% if user.is_authenticated %}
            <div class="level-item has-text-centered" onclick="location.href='{% url 'muses_list_my_messages' %}'"
                 style="cursor:pointer;">
                <div class="tags has-addons">
                    <span class="tag">{% trans "Messages" %}</span>
                    <span class="tag is-black">0</span>
                </div>
            </div>
            <div class="level-item has-text-centered" onclick="location.href='{% url 'muses_list_my_warnings' %}'"
                 style="cursor:pointer;">
                <div class="tags has-addons">
                    <span class="tag">{% trans "Warnings" %}</span>
                    <span class="tag is-black">0</span>
                </div>
            </div>
            <div class="level-item">
                <div class="level-item has-text-centered" onclick="location.href='{% url 'muses_my_profile' %}'"
                     style="cursor:pointer;">
            <span class="icon is-medium">
                <em class="fas fa-user"></em>
            </span>
                </div>
                <div class="level-item has-text-centered" onclick="location.href='{% url 'muses_my_preferences' %}'"
                     style="cursor:pointer;">
            <span class="icon is-medium">
                <em class="fas fa-sliders-h"></em>
            </span>
                </div>
                <div class="level-item has-text-centered" onclick="location.href='{% url 'muses_control_center' %}'"
                     style="cursor:pointer;">
            <span class="icon is-medium">
                <em class="fas fa-cogs"></em>
            </span>
                </div>
                <div class="level-item has-text-centered"></div>

                <div class="level-item has-text-centered" onclick="location.href='{% url 'account_logout' %}'"
                     style="cursor:pointer;">
            <span class="icon is-medium">
                <em class="fas fa-sign-out-alt"></em>
            </span>
                </div>
            </div>
        {% endif %}
    </div>
</nav>