{% load static %}
{% load i18n %}

<nav class="level" id="muse_top_menu">
    <p class="level-item has-text-centered hover-one">
        <a class="link is-info is-size-5" href="{% url 'muses_members' %}">{% trans "Members" %}</a>
    </p>
    <p class="level-item has-text-centered hover-one">
        <a class="link is-info is-size-5" href="{% url 'muses_faq' %}">{% trans "FAQ" %}</a>
    </p>
    <p class="level-item has-text-centered hover-one">
        <a class="link is-info is-size-5" href="{% url 'muses_cgu' %}">{% trans "CGU" %}</a>
    </p>
    <p class="level-item has-text-centered hover-one">
        <a href="{% url 'muses_home' %}"><span class="is-size-1">{% trans "Muses" %}</span></a>
    </p>
    <p class="level-item has-text-centered hover-one">
        <a class="link is-info is-size-5" href="{% url 'muses_about' %}">{% trans "About" %}</a>
    </p>
    <p class="level-item has-text-centered hover-one">
        <a class="link is-info is-size-5" href="{% url 'muses_contact' %}">{% trans "Contact" %}</a>
    </p>
    <p class="level-item has-text-centered">
        {% if not user.is_authenticated %}
        <a class="button is-primary is-outlined" href="{% url 'account_login' %}">{% trans "Login" %}</a>
            <a class="button is-primary" href="{% url 'account_signup' %}">{% trans "Register" %}</a>
        {% else %}
            <a class="link is-info is-size-5"
               href='{% url 'muses_administration' %}'>{% trans "Administration" %}</a>
        {% endif %}
    </p>
</nav>