/*
 * Copyright (c) 2019 - eGen Guru
 */

/*
body {
    background-image: url("../img/writing-blur-black-and-white-white-photography-texture-1176237-pxhere.com.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -1 !important;
}
*/

body {
    box-shadow: inset 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
}

#muse_top_menu {
    margin-top: 1.5rem;
}

nav#muse_top_menu.level > p.level-item.hover-one {
    height: 72px;
    box-shadow: 0px 4px 10px 10px rgba(197, 159, 159, 0.1);
    transition: box-shadow 0.2s;
}

nav#muse_top_menu.level > p.level-item.hover-one:hover {
    box-shadow: 0px 4px 10px 10px rgba(88, 37, 37, 0.1);
    transition: box-shadow 0.2s;
}

#muse_nav_menu {
    box-shadow: inset 0px 4px 10px 10px rgba(197, 159, 159, 0.1);
}

#muse_nav_menu > div.tile > div.tile {
    background-color: #FFFFFF;
    transition: background-color 0.2s;

}

#muse_nav_menu > div.tile > p.tile:hover {
    background-color: #afafaf;
    transition: background-color 0.2s
}

.no-shadow {
    box-shadow: none;
}

.no-border {
    border: none;
}

.no-padding {
    padding: unset;
}

.shadow-one {
    box-shadow: 0px 4px 64px 10px rgba(0, 0, 0, 0.49);
}

section {
    border: 1px solid #d2c5c5;
    border-radius: 10px;
}