{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ site_title }} - {% trans "Contests Administration" %}
{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Contests Administration" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to manage contests" %}
                </h2>
            </div>
        </div>
    </section>

{% endblock %}