{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "Frequently Asked Questions" %}
{% endblock %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="container">
                            <h1 class="title">
                                {% trans "About us" %}
                            </h1>
                            <h2 class="subtitle">
                                {% trans "Use this page to find information about us" %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <p>test</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}