{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Administration" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Welcome on administration page" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
    <div class="tile is-ancestor">

        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_warnings' %}'"
                     style="cursor:pointer;">
                <p class="title">Avertissements</p>
                <p class="subtitle">Gestion des avertissements</p>
                <div class="content">
                    <p>Répondre, clore les avertissements envoyés aux membres</p>
                </div>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_warning_templates' %}'"
                     style="cursor:pointer;">
                <p class="title">Mod&egrave;les d'avertissement</p>
                <p class="subtitle">Gestion des mod&egrave;les d'avertissement</p>
                <div class="content">
                    <p>Paramétrer les modèles d'avertissement envoyés aux membres (en ajouter, modifier ou
                        supprimer).</p>
                </div>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_tags' %}'"
                     style="cursor:pointer;">
                <p class="title">Etiquettes</p>
                <p class="subtitle">Gestion des étiquettes</p>
                <div class="content">
                    <p>Gérer les étiquettes (ajout/modification/suppression et personnalisation</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_licenses' %}'"
                     style="cursor:pointer;">
                <p class="title">Licences</p>
                <p class="subtitle">Gestion des licences</p>
                <div class="content">
                    <p>Gérer les licences (ajout/modification/suppression)</p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_members' %}'"
                     style="cursor:pointer;">
                <p class="title">Membres</p>
                <p class="subtitle">Gestion des membres</p>
                <div class="content">
                    <p>Gérer les membres</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_alerts' %}'"
                     style="cursor:pointer;">
                <p class="title">{% trans "Alerts" %}</p>
                <p class="subtitle">{% trans "Alerts management" %}</p>
                <div class="content">
                    <p>{% trans "Manage alerts" %}</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_contests' %}'"
                     style="cursor:pointer;">
                <p class="title">{% trans "Contests" %}</p>
                <p class="subtitle">{% trans "Contests management" %}</p>
                <div class="content">
                    <p>{% trans "Manage contests" %}</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box" onclick="location.href='{% url 'muses_admin_payments' %}'"
                     style="cursor:pointer;">
                <p class="title">{% trans "Payments" %}</p>
                <p class="subtitle">{% trans "Payments Management" %}</p>
                <div class="content">
                    <p>{% trans "Manage payments" %}</p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Demandes de correction</p>
                <p class="subtitle">Gestion des demandes de correction</p>
                <div class="content">
                    <p>Gérer les demandes de correction</p>
                </div>
            </article>
        </div>
        <div class="tile is-parent"></div>
        <div class="tile is-parent"></div>
        <div class="tile is-parent"></div>
    </div>
    </section>
{% endblock %}