{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'muses/css/main.bundle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'muses/css/mano.css' %}">
    <script defer src="{% static 'muses/js/bundle.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    <link rel="stylesheet" href="{% static 'muses/css/bulma-extensions.min.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "muses/favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "muses/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "muses/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "muses/favicons/site.webmanifest" %}">

    {% block extra_meta %}{% endblock %}
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>

<body>

{% block top_bar %}
    {% include "_partials/top_bar.html" %}
{% endblock %}
{% block top_menu %}
    {% include "_partials/top_menu.html" %}
{% endblock %}
{% block nav_menu %}
    {% include "_partials/nav_menu.html" %}
{% endblock %}
<div id="content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    {% include "_partials/footer.html" %}
{% endblock %}
<script src="{% static 'muses/js/bulma-extensions.min.js' %}"></script>
<script src="{% static 'muses/js/bulma-tagsinput.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', () => {

        bulmaTagsinput.attach()

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

</script>
</body>
</html>