{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Contact us" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to contact us" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="box">
                <form action="." method="post">

                    {% csrf_token %}

                    {{ form }}

                    <input class="button is-primary is-outlined" type="submit" value="Send message">
                </form>
            </div>
        </div>
    </section>


{% endblock %}