{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ site_title }} - {% trans "Control Center" %}
{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "Control Center" %}
                </h1>
                <h2 class="subtitle">
                    {% trans 'Use this page to manage your account' %}
                </h2>
            </div>
        </div>
    </section>

    <div class="container is-fluid">
        <section class="section">
            <div class="container">
                <h1 class="title">{% trans "Change your password" %}</h1>
                <h2 class="subtitle">
                    {% trans "Use this section to change your password" %}
                </h2>
                <p class="content">
                <form name="changePassword" method="post" action="{% url 'muses_control_center' %}">
                    {% csrf_token %}
                    {{ changePasswordForm.as_bulma }}
                    <input class="button is-primary" type="submit" value="{% trans "Sauvegarder" %}">
                </form>
                </p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h1 class="title">{% trans "Change your email" %}</h1>
                <h2 class="subtitle">
                    {% trans "Use this section to change your email" %}
                </h2>
            </div>
        </section>
    </div>

{% endblock %}