{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container landing-container">
                <div class="columns">
                    <div class="column">
                        <div class="container has-text-centered">
                            <h1 class="title">
                                {% trans "Annonce principale" %}
                            </h1>
                            <h2 class="subtitle">
                                {% trans "Contenu de l'annonce" %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">

            <div class="tile is-ancestor">
                <div class="tile is-6 is-vertical is-parent">
                    <div class="tile is-child box shadow-one">
                        <p class="title">Bienvenue sur La Passion des Poèmes</p>
                        <p class="is-size-5">La communauté de poésie la plus dynamique sur le net!
                            Joignez-vous à nous gratuitement et vous pourrez partager votre poésie,
                            suivre vos poèmes favoris ainsi que rencontrer d'autres mordus de la poésie.</p>
                        <p class="is-size-5"><a href="{% url 'account_signup' %}">Ouvrez votre compte gratuit en 5
                            minutes!</a></p>
                        <p class="is-size-5">Au service des poètes depuis {{ site_number_of_days_since_creation }}
                            jours.</p>
                        <p class="is-size-5">il ne reste plus que {{ site_number_of_days_until_birthday }} jours jusqu'à
                            notre prochaine
                            anniversaire.</p>
                    </div>
                </div>
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box shadow-one">
                        <p class="title">Nouvelles du front</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                    <div class="tile is-child box shadow-one">
                        <p class="title">Seconde Nouvelle</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                    <div class="tile is-child box shadow-one">
                        <p class="title">3ème Nouvelle</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </div>
            </div>
            <section class="hero">
                <div class="hero-body">
                    <div class="container is-fluid">
                        <h1 class="title">
                            Dernières publications
                        </h1>
                    </div>
                </div>
            </section>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box shadow-one">
                        <p class="title">Bienvenue</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar,
                            at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus
                            ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio
                            felis ut quam.
                            Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis.
                            Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et
                            sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus
                            felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget
                            varius ligula, at volutpat tortor.
                            Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus
                            dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras
                            ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non
                            semper leo.</p>
                    </div>
                    <div class="tile is-child box shadow-one">
                        <p class="title">Nouvelles du front</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                    <div class="tile is-child box shadow-one">
                        <p class="title">Seconde Nouvelle</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                    <div class="tile is-child box shadow-one">
                        <p class="title">3ème Nouvelle</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}