{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "My Preferences" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to manage your preferences" %}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form action="." method="post">

                {% csrf_token %}

                {{ form.as_bulma }}

                <input class="button is-primary is-outlined" type="submit" value="{% trans "Save your preferences" %}">
            </form>
        </div>
    </section>

{% endblock %}