{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "My Messages" %}
{% endblock %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% trans "My Messages" %}
                </h1>
                <h2 class="subtitle">
                    {% trans "Use this page to manage your messages" %}
                </h2>
            </div>
        </div>
    </section>

{% endblock %}