{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container landing-container">
                <div class="columns">
                    <div class="column">
                        <div class="container">
                            <h1 class="title is-capitalized">
                                {{ section.name }}
                            </h1>
                            <h2 class="subtitle is-italic">
                                {{ section.description }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <section class="section">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                                <label>
                                    <input class="input" type="text" placeholder="Find a post">
                                </label>
                            </p>
                            <p class="control">
                                <button class="button">
                                    Search
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        Order by:&nbsp;
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by=Last_comment&items_per_page={{ items_per_page }}&page={{ page }}">Last
                            comment</a>|
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by=Published_date&items_per_page={{ items_per_page }}&page={{ page }}">Published
                            date</a>|
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by=Visits&items_per_page={{ items_per_page }}&page={{ page }}">Visit
                            count</a>
                    </div>
                    <div class="level-item">
                        Items per page:&nbsp;
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by={{ order_by }}&items_per_page=10&page={{ page }}">10</a>|
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by={{ order_by }}&items_per_page=20&page={{ page }}">20</a>|
                        <a href="{% url 'muses_list_posts' section=current_section %}?order_by={{ order_by }}&items_per_page=30&page={{ page }}">30</a>
                    </div>
                </div>
            </nav>

            {% for post in posts %}
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <post class="media">
                                <div class="media-left">
                                    <form action="" class="media">
                                        <div class="media-content">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <nav class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <div class="title">
                                                        {{ post.title }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <div class="size-small">
                                                        {{ post.published_at }}
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                        <nav class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p>
                                                        {{ post.summary }}
                                                    </p>
                                                </div>
                                            </div>
                                        </nav>
                                        <nav class="level">
                                            <div class="level-left">
                                                {% for tag in post.tags %}
                                                    <div class="level-item">
                                                        <span class="tag">#{{ tag.name }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <div class="box">
                                        <div class="is-size-3">{{ post.author_ref.pseudonym }}</div>
                                        <figure class="image is-64x64">
                                            <img src="{{ post.author_ref.avatar }}" alt="Image">
                                        </figure>
                                    </div>
                                </div>
                            </post>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </section>

    </div>
{% endblock %}